body {
    font-family: Helvetica;
    font-size:15px;
    line-height:27px;
    weight:300;
    background-color:#222;
    color:#CCC;
    padding:20px;
    position:relative;
}

input#search{
    font-size: 25px;
    padding: 5px;
    background-color: #000a;
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 0px;
    color: #CCC;
    width: 66%;
    transition: all 0.3s ease;
    max-width: 200px;
}
input#search:hover,
input#search:focus,
input#search:active{
    border-bottom: 2px solid #CCC;
    color:#FFF;
}
    
body.iframe {
}

a{ 
    color:#FFF;
}

h1,h2,h3,h4,h5{
    color:#FFF;
    line-height:48px;
}
h4{
    font-size: 19px;
    font-weight: 300;
}

.hidden {
    display:none;
}

.index {
    position:fixed;
    right:15px;
    top:15px;
    text-align:right;
    width:300px;
}

.footer {
    color:#555;
}

.index li {
    list-style: none;
    display: inline-block;
    background-color: #0004;
    padding: 5px;
    border-radius: 5px;
}

.index ul li a {
    text-decoration:none !important;
    color:#0FF;
}

.ruler {
    border-top:1px solid #555;
    width:100%;
    height:1px;
    margin:10px 0px;
}

.content {
    max-width:800px;
    margin:0 auto;
}
pre{
    background-color: #5773;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace,courier;
    border-left:4px solid #FFF4;
}

blockquote{
    border-left: 2px solid #077;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 10px;
    background-color: #FFF1;
    border-radius: 5px;
    font-style: italic;
}

code {
    color: #7aa;
}

table thead tr th,
table tbody tr td{
    padding: 3px;
    padding-left: 10px;
    text-align:left;
}
table tbody tr td {
    background-color: #444;
    border-radius:5px;
}


div.tablet {
    width: 100%;
    border: 40px solid #CCC;
    box-sizing: border-box;
    border-radius: 16px;
    position:relative;
    margin-bottom:110px;
    box-shadow: 2px 1px 20px #FFF8;
}

div.tablet:before{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "";
    background-color: #AAA;
    right: -29px;
    top: calc(50% - 10px);
}

div.tablet:after{
    position: absolute;
    content: "";
    width: 231px;
    height: 387px;
    background: url(img/smartphone.png) no-repeat;
    background-size: contain;
    top: 114px;
    right:16px;
}

/* responsiveness */

@media (max-width: 500px) {
    div.tablet {
            border: 20px solid #CCC;
    }
    div.tablet:after{
        width: 131px;
        top: -30px;
    }
}

@media (max-width: 1200px) {
    .index { display:none; }
}

